<nav class="navbar navbar-expand-sm navbar-default bg-default justify-content-between">
    <a class="navbar-brand">
        <img [src]="logo"  class="d-inline-block align-top" alt="">
    </a>
</nav>
<nav class="navbar navbar-expand-sm navbar-primary bg-primary justify-content-between">
</nav>