
<div class="container" >
   <div class="row">   
      <div
        *ngFor="let curso of cursos" 
        class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card" style="width: calc( 100% - 20px); max-width: 15rem; margin: auto; margin-top: 10px; margin-bottom: 10px;">
         <app-cursos-item
          [id]="curso.id"
          [img]="curso.img"
          [title]="curso.title"
          [instructor]="curso.instructor"
          [progress]="curso.progress"
          (goCurso)="goCurso($event)"
          >
         </app-cursos-item>
       </div> 
     </div>
   </div>
</div>
