<div class="container"> 
  <div class="card" style="margin: 10px 0; ">  
   <div class="card-body" *ngFor="let detalle of detalle">     
         <h5>{{ detalle.title }}</h5>   
             <h6>{{ detalle.section }}</h6>    
                 <div>{{ detalle.classes }}</div>    
             </div>  
      </div>
 </div>
