
    <img [src]="img" class="cardimg-top" alt="...">
    <div class="card-body">       
    <h5 class="card-title" (click)="goCurso.emit(id)"> {{ title }} </h5>   
    <p class="card-text"> {{ instructor }}</p>  
    <p class="card-text"> {{ progress }} % completo</p>      
   </div> 
